{% extends 'layout.html' %}
{% block body %}

<div style="text-align: center; margin: 40px auto;">
  <img src="../static/logo.png" style="height: 15vh;" />
</div>

<div class="main-text">
  <h1 style="font-weight: bold; margin: 10px; margin-top: 0;">Sorry...</h1>
  <h1 style="font-size: 2rem; margin: 10px; margin-top: 15px;">
    We couldn't find what you were looking for.
  </h1>
  <button class="session-btn" style="margin-top: 15px;" onclick="window.location.pathname='/'">
    Go Back to Home
  </button>
</div>
{% endblock %}