{% extends 'layout.html' %}
{% block body %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="text-center">Add Course</h4>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputName"> Course Name</label>
                        <input type="text" class="form-control" name='course_name' placeholder="Enter course name"
                            id="inputName" required>
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Select Instructor</label>
                        <input type="email" class="form-control" name='teachersemail' id="inputEmail4"
                            placeholder="type Course Instructors email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="studentsemail">Select Students (Use comma) </label>
                        <input type="text" class="form-control" name='studentsemail' id="studentsemail"
                            placeholder="type students email and use comma to select">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Add Course</button>
            </form>

        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
</div>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{url_for('static', filename = 'js/jquery.multi-emails.js')}}"></script>
<script>
        $("#studentsemail").multiEmails()
</script>
{% endblock %}
{% endblock %}
