{% extends 'layout.html' %}
{% block body %}

    <div class="main-text">
      <button class="session-btn" onclick="window.location.pathname='/create'">
        Start Session
      </button>
      <h1 style="font-weight: bold; margin: 10px;">or</h1>
      <button
        type="button"
        data-toggle="modal"
        data-target="#exampleModal"
        class="session-btn"
      >
        Join Session
      </button>
      <style>
        stu { 
          color: rgba(33, 148, 249, 1);
        }

        tea {
          color: rgba(181, 76, 255, 1);
        }
      </style>
      <br><hr style="margin-top: 20px;">
      An <tea><b>Instructor</b></tea> (Teacher) can create a session. Then, they can invite <stu><b>Viewers</b></stu> (Students) with the view link or invite other instructors with the editor link.</i>
    </div>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Enter session ID
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="form">
            <div class="modal-body">
              <input
                type="text"
                id="fname"
                name="fname"
                style="width: 100%; font-size: 1.5rem;"
              /><br />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <input
                type="submit"
                class="btn btn-primary"
                value="Join Session"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
